
#adminNav {
    background-color: #C7C5F4;
    position: fixed;
  top: 0;
  /* width: 100% */
  left: 0;
  right: 0;
  
}
.adminBoardlist{
    display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   
}
.adminMemberlist {
    display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
}
.table_admemberlist {
  margin-top: 100px;
  
  /* align-items: center;
  justify-content: center; */

}
.table_adboardlist{
  margin-top: 100px;

}




